// filepath: c:\Users\jaime\herramientas-de-programacion\Seguroquesi\Views\Poliza\Delete.cshtml
@model Seguroquesi.Models.Poliza

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Poliza</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.NumeroPoliza)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.NumeroPoliza)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FechaInicio)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.FechaInicio)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FechaFin)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.FechaFin)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Cotizacion)</dt>
        <dd class="col-sm-10">@(Model.Cotizacion != null ? Model.Cotizacion.Id.ToString() : "")</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Tipo)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Tipo)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Moneda)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Moneda)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Pais)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Pais)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Prima)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Prima)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Cobertura)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Cobertura)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.NumeroDocumento)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.NumeroDocumento)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.TipoDocumentoPersona)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.TipoDocumentoPersona)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.NombreTomador)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.NombreTomador)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ApellidoTomador)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ApellidoTomador)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Ciudad)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Ciudad)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.CodigoPostal)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CodigoPostal)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FechaNacimiento)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.FechaNacimiento)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Genero)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Genero)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>